<a href='/'>
  <button type='button' style='background-color:#e80f0f'>Volver al inicio</button>
</a>

<h2 class='mb-4'> Vista de Productos</h2>

{{#if todosProductos}}
  <table class='table table-dark table-striped'>
    <thead>
      <tr>
        <th scope='col' class='ps-4'>Nombre</th>
        <th scope='col' class='text-center'>Precio</th>
        <th scope='col' class='text-center'>Imagen</th>
      </tr>
    </thead>
    <tbody>
      {{#each todosProductos}}
        <tr>
          <th scope='row' class='ps-4 align-middle'>{{this.title}}</th>
          <td class='text-center align-middle'>{{this.price}}</td>
          <td>
            <div class='image-container text-center'>
              <img src={{this.thumbnail}} alt='Product image' class='img-thumbnail' />
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class='message'>
    <h2>No hay productos</h2>
  </div>
{{/if}}